{% if enable %}

	{% if banner.background.type == 'image' %}
		{% set section_attrs  = ' class="hero-banner heading-banner landing-page-banner mg-background-image"' %}
	{% elseif banner.background.type == 'video' %}
		{% set section_attrs  = ' class="hero-banner heading-banner landing-page-banner video-banner banner__background-video"' %}
	{% else %}
		{% set section_attrs  = '' %}
	{% endif %}

	<section id="landing-page-banner"{{section_attrs}}>
		{% include "components/landing/banner/background.twig" with { "background": banner.background } %}
		{% include "components/landing/banner/content.twig" with { "content": banner.content } %}
	</section>
		
{% endif %}
