<section id="{{ section_id }}" class="{{ section_id }} fifty-fifty">
    <div class="wrap">
        <div class="left pane">
            {% block content_left %}{% endblock %}
        </div>
        <div class="right pane">
            {% block content_right %}{% endblock %}
        </div>
    </div>
</section>