.site-content {
  flex-direction: column;
}

.site-wrap {
  display: flex;
  position: relative;
  overflow: hidden;
}

.wysiwyg-content {
  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  iframe {
    width: 100%;
  }
}

.accent-one {
  color: $accent-1;
}

.dark-three {
  color: $dark-3;
}
