{% if image and content %}
<section id="about-highlight-section" class="about-highlight-section">
    <div class="about-highlight-image mg-background-image" style="background-image: url({{ image|get_timber_image_src('large') }});"></div>
    <div class="about-highlight-content">
        <div class="content-container">{{ content }}</div>
    </div>
</section>
{% endif %}
