<section class="care-and-cleaning">
	<div class="care-and-cleaning__wrap wrap">
		{{ svg('care-cleaning') }}
		<h3 class="care-and-cleaning__title">{{title}}</h3>
		<p class="care-and-cleaning__blurb">{{blurb}}</p>
	</div>
</section>
