.new-product-tag {
  width: cRem(32);
  height: cRem(15);
  font-size: cRem(11);
  background: $accent-1;
  color: white;
  text-align: center;
  line-height: 1.4;
  border-radius: cRem(2);
  margin-bottom: 1rem;
}
