.counter-button-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: cRem(-8);

  .quickview-modal__more {
    display: none;
  }

  > div,
  > button.button.button__orange {
    margin: cRem(8);
  }

}

.counter-button-wrapper .quantity-wrapper {
  display: flex;
  margin-left: auto;

  @media (min-width: 320px) {
    margin-left: 0.5rem;
  }
}

.woocommerce a.added_to_cart {
  display: none !important;
}

body[class^='product-33-chair'] .quantity-wrapper {
  display: none;
}
