.cream-33-cta__inner {
  display: grid;
  grid-gap: $spacing-desktop * 2;
  text-align: center;

  img {
    display: block;
  }

  @media (max-width: $break-tablet) {
    .cream-33-cta__first {
      img {
        margin: 0 auto;

        @media (min-width: 460px) {
          max-width: 400px;
        }
      }
    }
  }

  @media (min-width: $break-tablet) {
    align-items: center;
    display: flex;
    text-align: left;

    .cream-33-cta__first,
    .cream-33-cta__second {
      width: 50%;
    }

    .cream-33-cta__second {
      padding-left: $spacing-desktop * 3;
    }

    .cream-33-cta__second-inner {
      max-width: 400px;
    }
  }
}

.cream-33-cta__blurb,
.cream-33-cta__title {
  margin-bottom: $spacing-desktop;
}

.cream-33-cta__blurb {
  font-size: cRem(20);
}
