.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: none;
  width: 100%;
  padding: 3rem 22px;
  box-sizing: border-box;

  &__card {
    position: relative;
    padding: 1rem;
    margin: 0 cRem(10);
    box-sizing: border-box;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
