{% extends "base.twig" %}
{% block layout %}
    {{function('tha_content_before')}}
    {{function('tha_content_top')}}
    {% embed '/layouts/full-width.twig' %}
        {% block content %}
            <div class="wrap">
				<div class="mw-600 mlra">
					<p class="tac"><a href="javascript:history.go(-1)">Click here to go back</a> or go to our <a href="/">home page</a>.</p>
					<p class="tac">Or try searching below!</p>
					<form action="/shop" method="GET" class="site-search-form">
						<div class="site-search-input-wrap">
							<button type="submit" class="site-search-icon-button">
								<svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<g id="Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
										<g id="Mobile---Search" transform="translate(-28.000000, -125.000000)" stroke="#6E7070" stroke-width="2">
											<g id="Icon" transform="translate(29.000000, 126.000000)">
												<path d="M8.53558661,1.46441339 C10.4881378,3.41696458 10.4881378,6.58303542 8.53558661,8.53558661 C6.58303542,10.4881378 3.41696458,10.4881378 1.46441339,8.53558661 C-0.488137797,6.58303542 -0.488137797,3.41696458 1.46441339,1.46441339 C3.41696458,-0.488137797 6.58303542,-0.488137797 8.53558661,1.46441339 Z" id="Stroke-1"></path>
												<path d="M9,9 L15,15" id="Stroke-3"></path>
											</g>
										</g>
									</g>
								</svg>
							</button>
							<input type="text" name="fwp_keywords_filter" value="" placeholder="Search for a product" class="site-search-input" data-swplive="true"/>
						</div>
					</form>
				</div>
            </div>
        {% endblock %}
    {% endembed %}
    {{function('tha_content_bottom')}}
    {{function('tha_content_after')}}
{% endblock %}
