html body .accent-1 {
  color: $accent-1;
}

html body .accent-1-bg {
  background-color: $accent-1;
}

html body .accent-2 {
  color: $accent-2;
}

html body .accent-2-bg {
  background-color: $accent-2;
}

html body .accent-3 {
  color: $accent-3;
}

html body .accent-3-bg {
  background-color: $accent-3;
}

html body .bg-light-1 {
  background-color: $light-3;
}

html body .bg-dark-1 {
  background-color: $dark-1;
}

html body .bg-dark-2 {
  background-color: $dark-2;
}

html body .bg-dark-3 {
  background-color: $dark-3;
}

html body .bg-dark-4 {
  background-color: $dark-4;
}