{% if( post.get_field('all_good_section_title') and post.get_field('all_good_section_blurb') ) %}
    {% set section_title = post.get_field('all_good_section_title') %}
    {% set section_blurb = post.get_field('all_good_section_blurb') %}
    {% set img_id = post.get_field('all_good_image') %}
    {% set img_src = img_id | get_timber_image_src('large') %}

    <section class="all-good bg-dark-2">
        <div class="image bg-cover" style="background-image: url({{ img_src }})"></div>
        <div class="wrap p0">
            <div class="all-good-inner">
                <h2 class="font-bold f64 white-text ff-roboto-slab">{{ section_title }}</h2>
                <div class="blurb white-text ff-roboto-slab">{{ section_blurb }}</div>
            </div>
        </div>
    </section>
{% endif %}
