//***********************************
// Quickview Summary Variation Swatches
//***********************************
#jckqv #jckqv_summary {
  .woocommerce-variation.single_variation {
    margin-bottom:0;
  }

  h2.variant-color {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0;
  }

  .selected-pa_color {
    font-weight: bold;
  }

  table.variations {
    background: none;
    margin: 0;

    td,
    th {
      padding: 0 0 10px;
    }

    td {
      border-bottom: none;
      line-height: 1.2;
      color: $dark-2;
      label {
        margin-bottom: 0;
        padding-right: 0.5em;
      }
    }

    select {
      max-width: none;
      min-width: none;
      width: 100%;
    }
  }
}
